*{
    background: rgba(116, 162, 231, 0.979);
}

@font-face{
    font-family: 'RubikGemstones';
    src: url('fonts/RubikGemstones-Regular.ttf')
    format('truetype');
}
@font-face {
    font-family: 'Nova';
    src: url('fonts/NovaRound-Regular.ttf')
    format('truetype');
}
@font-face {
    font-family: 'incon';
    src: url('fonts/Inconsolata-VariableFont_wdth\,wght.ttf')
    format('truetype');
}
@font-face {
    font-family: "Caveat";
    src: url('fonts/Caveat-VariableFont_wght.ttf')
    format('truetype');
}
@font-face {
    font-family: "Oswald";
    src: url('fonts/Oswald-VariableFont_wght.ttf')
    format('truetype');
}
h1{
    color: rgb(88, 77, 165);
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
}

.nav-link:hover{
    background-color: cornflowerblue;
}

.nav-link{
    background-color: rgb(53, 124, 118);
}
#bb{
    color: rgb(88, 77, 165);
    background-color: rgb(78, 199, 220);
    font-family: 'RubikGemstones';
    font-weight: lighter;
    border-radius: 10px;
}

nav{
    padding-top: 0 !important;
    padding-bottom: 0 !important ;
    font-size: large;
    font-weight: bold;
}

.navbar-brand{
    font-weight: bold;
    color: cornflowerblue;
}

#titles{
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(78, 199, 220);
    text-align: center;
    font-size: 50px;
    font-family:'RubikGemstones';
    border-radius: 25px;
}
#titlesc{
    justify-content: center;
    padding-top: 40px;
    margin: 0;
}
#sale{
    margin-bottom: 0;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 40px;
    font-family: 'Nova' ;
    font-weight: bold;
    margin-top: 0;
    font-size: 50px;
}
.active{
    background-color: rgb(180, 264, 265);
}

#projects{ 
    color: rgb(123, 32, 46);
    text-align: center;
    margin: 0;
}
#contact{
    text-align: right;
    padding-right: 10px;
    margin: 0;
    padding-top: 10px;
    font-family: 'Nova';
    font-weight: bold;
}
#fish{
    color: black;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 5px;
    font-family: "Caveat";
    font-size: 45px;
    font-weight: bold;
}
#carouselExampleIndicators{
    /*padding: 100px;
    min-width: 500px;
    overflow:hidden;*/
    justify-content: center;
    margin: 0;
    padding:10%;

}
#fishycenter{
    justify-content: center;
    margin: 0;
}
#hum{
    justify-content: center;
}
#row1{
    text-align: center;
    font-family: 'Caveat';
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 0;
}
#row2{
    text-align: center;
    font-family: 'Caveat';
    font-weight: bold;
    font-size: 40px;
    color: rgb(137, 2, 2);
    margin-bottom: 0;
}
#Swany{
    display: flex;
    align-items: center;
}
#twindragons{
    justify-content: center;
    margin: 0;
}
#rownum1{
    margin:0;
}
#comrow1{
    margin: 0;
    padding-bottom: 35px;
}
#com{
    text-align: center;
    font-family: 'Nova';
}
#abtpage{
    padding-left: 50px;
    margin: 0;
}
#abtlinks:hover{
    background-color: aquamarine;
}
/*#navigation{
    position:sticky;
    top:0px;
}*/




/*.carousel .carousel-item {
    height: 600px;
  }
  
  .carousel-item img {
      position: absolute;
      object-fit: cover;
      top: 0;
      left: 0;
      min-height: 600px;
  }*/